@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<h2>Authentication with Identity</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @if (User.IsInRole("Admin"))
    {
        <p>@Html.ActionLink("Manage User Roles", "ManageUserRoles", "Role")</p>
        @using (Html.BeginForm("LogOff", "Account"))
        {

            <input type="submit" class="btn btn-default" value="Log out" />
        }
    }
    else
    {
        @using (Html.BeginForm("LogOff", "Account"))
        {

            <input type="submit" class="btn btn-default" value="Log out" />
        }
    }
    @Html.ActionLink("Sales Page", "Index", "Sales")
}
else
{
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}